.DS_Store
node_modules/
/app/node_modules/
/app/build
/app/config
/app/src
/app/static
/app/package.json
/app/package-lock.json
/app/.babelrc
/app/.editorconfig
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
